<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

</head>

<!-- <app-nav></app-nav> -->
<!--<app-home1></app-home1>

<app-middlepaage></app-middlepaage>
<app-map></app-map> 
<app-scanner-page></app-scanner-page>
<app-login></app-login>
<app-footer></app-footer> 
<!-- <app-scanner-page></app-scanner-page>
<app-search-page></app-search-page> -->
<!-- main app container -->
<!-- <app-nav></app-nav> -->
<!-- <app-home1></app-home1> -->
<!-- <app-middlepaage></app-middlepaage> -->
<!-- <app-map></app-map> -->
<!-- <app-scanner-page></app-scanner-page> -->
<!-- <app-login></app-login> -->
<!-- <app-footer></app-footer>  -->

<!-- <app-payment></app-payment> -->
<!-- <app-productview></app-productview> -->
<!-- <app-scanner-page></app-scanner-page> -->
<!-- <app-search-page></app-search-page> -->
<!-- <app-cart-display></app-cart-display> -->
<!-- <app-alert></app-alert> -->
<router-outlet></router-outlet>
<!-- main app container


<app-payment></app-payment>
<!--The content below is only a placeholder and can be replaced.-->