
/*Font size*/

$blog-title-font-size: 20px;
$blog-content-font-size: 16px;

/*Font Weight*/

$blog-title-weight: 5000;
$blog-content-weight: 600;

/*Font Color*/

$nav-bar-color: #00ACC1;
$workspace-color: rgba($nav-bar-color, 0.1);
$blog-title-color: #C6C6C6;
$blog-content-color:#565C70;
$blog-title-background-color: rgba($blog-content-color, 0.9);
$blog-background-color: #ffffff;

/*Sizes*/

$blog-width: 80%;
$blog-height: 20%;

/*Font family*/

$font-blog-text: 'Amatic SC',
sans-serif;
$font-blog-title: 'Amatic SC',
sans-serif;
