/*Font size*/

$font-size-2em: 2em;
$other-font-size: 1.5em;
$font-size-1em: 1em;

/*Font Weight*/

$font-weight-200: 200;
$font-weight-bold: bold;

/*Font Color*/

$color: chocolate;
$input-color: white;
$addCont-color: black;

/*Color*/

$call-bg: rgba(0, 255, 0, 0.2);
$call-bg-hover: rgba(0, 255, 0, 0.4);
$clear-bg: rgba(255, 0, 0, 0.2);
$clear-bg-hover: rgba(255, 0, 0, 0.4);
$view-bg: lightgrey;
$numDisplay-bg: sandybrown;
$dialpad-bg: honeydew;

/*Font family*/

$font-text: 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif;