<app-nav></app-nav>

<div class="body1">
    <div class="landing">
        <div id="page-wrapper">

            <section id="banner">
                <div class="inner">
                    <h2>Snap shop </h2>
                    <p>3 simple steps Snap scan and Pay <br />
                        <br /> No need to wait in line for payment just snap and checkout </p>
                    <ul class="actions">
                        <li><a routerLink="/scanProduct" routerLinkActive="active" class="button special">LETS START TO SHOP </a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>

<app-middlepaage></app-middlepaage>
<app-map></app-map>
<app-footer></app-footer>