<nav>

    <div class="nav-wrapper">
        <a href="#" routerLink="/snapshop" routerLinkActive="active" class="brand-logo"><img class="logoimage" src="../../assets/images/snpshpwp_logo.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" id="cart" routerLink="/cart" routerLinkActive="active"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#" routerLink="/searchProduct" routerLinkActive="active"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            <li><a href="#" routerLink="/scanProduct" routerLinkActive="active">Welcome {{user}}</a></li>
            <li><a href="#" routerLink="/" routerLinkActive="active">Logout</a></li>
            <!-- <li><a class="waves-effect waves-light btn">Sign In </a></li> -->
        </ul>
    </div>

</nav>